* {
    box-sizing: border-box; 
}

body {
    background-color: #f0f0f0;  
    font-family: 'Titillium Web', sans-serif;
    font-size: small;
    margin: 130px 100px 10px 100px; 
    text-align: center;
}

header {
    top: 0px;
    left: 0px;
    right: 0px;
     
    font-size: 1.5em;
    height: 80px; 
    background-color: #fff; 
    position: fixed;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);  
}

/*header menu styles*/
nav.header-menu ul {
    list-style-type: none;
    margin: 0px 5px 0px 5px;
}
nav.header-menu ul li {
    display: inline-block; 
    color: gray;
    font-weight: bold; 
    padding: 10px 10px 10px 10px; 
    line-height: 60px;
}
nav.header-menu ul li a:link, 
nav.header-menu ul li a:visited {
    text-decoration: none; 
    color: gray;
}
nav.header-menu ul li a:hover,
nav.header-menu ul li a:visited:hover,
nav.header-menu ul li a:active,
nav.header-menu ul li a:visited:active {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
/*end of header menu styles*/

li, h1, h2, p {
    letter-spacing: 0.8px; 
}

h1 {
    text-transform: uppercase;
}

#blog {
    display: none; 
}

p {
    text-align: justify;
    font-size: 1.1em;
    max-width: 800px;
}
 
img.pic {
    max-width: 100%; 
    height: auto;
}

/* Back to Top button styles */
button#top-btn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgba(240, 26, 37, 0.459); 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;  
}
button#top-btn:hover,
button#top-btn:active { 
    background-color: #F01A24;
}


hr.footer-line {
    margin-top: 30px;
    border: 0px;
    border-top: 1px solid darkgrey;
    display: none; 
}


/*footer styles*/
footer {
    padding: 20px; 
    text-align: left;
    display: none; 
}
.footer-menu ul {
    list-style-type: none;
}
.footer-menu ul li {
    text-decoration: none;
    color: black;
    padding: 4px 0 4px 0; 
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px 0 10px 0;
}
.footer-menu ul li a:link,
.footer-menu ul li a:visited {
    text-decoration: none;
    color: black;
}
.footer-menu ul li a:hover,
.footer-menu ul li a:visited:hover,
.footer-menu ul li a:active,
.footer-menu ul li a:visited:active {
    text-decoration: none;
    cursor: pointer;
}
/*end of footer styles*/


/*phones and small tablets in portrait*/
@media screen and (max-width: 770px) {
    body {
        margin: 110px 0px 110px 0px;
    }
    p {
        width: 95%;
        margin-left: 5px; 
    }
    img.pic {
        width: 100%;
    }
    nav.header-menu ul {
        margin: 0px 5px 0px 0px;
    }
}

/*small tablet landscapes and mid-size tablets in landscape */
@media screen and (min-width: 771px) and (max-width: 895px) {
    body {
        margin: 110px 0px 110px 0px;
    }
    p {
        width: 95%;
        margin-left: 5px; 
    }
    img.pic {
        width: 100%;
    }
}

@media screen and (min-width: 896px) {
    p {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1400px) {
    button#top-btn {
        right: 250px;
    } 
}
